
<div class="main-wrapper">
    <div class="container">
      <div class="row">
        <app-user></app-user>
        <!-- <div class="content"> -->
            <div class="col-md-4 col-12">
                <div class="image">
                    <img src="../../../../assets/image/HomePage/userprofile.png">
                    
                </div>
            </div>
            <div class="col-md-8 col-12" >
                <div class="info">
                    <h5 class="user"></h5>
                    <!-- <div>
                        <div class="info-header"><h6>Office phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></div> 
                        <div class="info-details"><span>01098175462</span></div>
                    </div> -->
                    <div>
                        <div class="info-header"><h6>Mobile phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></div> 
                        <div class="info-details"><span>01098175462</span></div>
                    </div>
                    <div>
                        <div class="info-header"><h6>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></div> 
                        <div class="info-details"><span>Mansoura</span></div>
                    </div>
                    <div>
                        <div class="info-header"><h6>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></div> 
                        <div class="info-details"><span>ahmed@gmail.com</span></div>
                    </div>
                </div>
            </div>
        <!-- </div> -->

      </div>
    </div>
</div>


