/* Styles for the form */
.row {
    padding: 0;
    margin: 0;
    
  }
 
form {
    margin-top: 80px;
    
    align-items: center;
    text-align: center;
    background-color: rgb(225, 234, 237);
    border: 4px solid lightgray;
    
  }
  .Price-settings{
    margin-top: 80px;
  }
  .Price-settings span{
    margin: 60px auto;
    
  }
  .info{
    color: red;
  }
  .Side-title{
    color: black;
    font-size: 20px;
  }
  .titlle{
    padding: 20px;
    text-align: left;
  }
  span{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  
  mat-form-field {
    align-items: center;
    text-align: center;
    display: block;
    width: 300px;
    margin: 2px auto;
    /* margin: 20px auto;
    padding: 0.1px; */
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  .label{
    text-align: left;
    margin-left: 100px  ;
  }
  .content{
    
    display: flex;
    justify-content: center;
  }
  /* Styles for the table */
  .main-wrapper{
    margin-bottom: 200px;
  }



  /*****************************************/
  .header-content{
    background-color: rgb(246, 212, 45);
    margin-top:10px ;
   
    margin-bottom: -31px ;
   padding: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  
  
  background-size: cover;
  }
  
  .title {
    
    padding: 20px ;
    margin: 20px;
   
  }
  .title span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
   
    
  }
  .header-icons{
    margin: 1px auto;
    width: 77vw;
    border: 1px solid lightgrey;
    background-color: white;
  }
  .icons{
    align-items: center;
    text-align: center;
  }
  .icons div p{
    margin: 0;
    font-weight: bold;
  }
  .icons div{
    display: inline-block;
    padding: 20px;
  }
  .icon-hover:hover{
    
    color: orange;
  transition: all 0.1s ease;
  -webkit-transition: all 0.4s ease;
  cursor: pointer;
  
  }