<!-- <app-property-home></app-property-home> -->
<!-- <app-about-main></app-about-main> -->
<app-header></app-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<!-- <app-add-property></app-add-property> -->
<!-- <app-stripe></app-stripe> -->
<!-- <app-add-property></app-add-property> -->

  
<!-- <app-images></app-images> -->
   <!-- <app-stripe></app-stripe> -->
   <!-- <app-userdashboard></app-userdashboard> -->
   <!-- <router-outlet></router-outlet> -->
   <!-- <app-profile-info></app-profile-info> -->
   <!-- <app-wishlist></app-wishlist> -->
   <!-- <app-myproperties></app-myproperties> -->
   <!-- <app-edit-property></app-edit-property> -->