
.header-content {
  margin-top: 120px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.paragraph-content {
  margin-top: 120px;
  margin-bottom: 0%;
}
.header-content span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  
}
.row {
  padding: 0;
  margin: 0;
}


.page-photo {
 padding-top: 10rem;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  margin: 1rem auto;
  background-size: cover;
  /* width: 100%;
  height: 50%; */
  /* background-color: red; */
   background-image: url("../../../../assets/image/HomePage/package.jpg");
  /* background-position: bottom right; */
  background-repeat: no-repeat;
  /* background-position: center ; */
  
}


.header-content1 h2 {
  
  /* padding: 4rem auto; */
  color: white;

  font-size: 59px;
  /* line-height: 90px; */
  /* margin: 2rem auto; */
  /* font-weight: 550; */
}
