<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="page-photo">
        <div class="col-lg-6  col-sm-12">
          <div class="header-content1">
            <h2 >
              Pricing Package
            
            </h2>
            
          </div>
        </div>

      </div>
      




      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="header-content">
          <span>How It Works?</span>
          <span>Find a <b>perfect home</b></span>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="paragraph-content">
          <p>
            Mazim saepe instructior mel ei, sanctus assueverit per at, ad eam
            veri putent nonumes. Maluisset Id duo modo quidam, ut mel tractatos
            intellegat. Ea electram repudiandae qui. Ea soluta meliore accumsan
            vel.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-package></app-package>
