<ng-container *ngFor="let item of Property">
  <div class="mainwrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="property-name">
            <h2>{{ item.Title }}</h2>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="property-price">
            <h5>
              <span>Price:</span> <span>{{ item.propertyPrice }}$</span>
            </h5>
          </div>
        </div>
      </div>
      <!-- Img Slider -->
      <div class="row">
        <section id="center" class="center_home">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="item.photos" class="d-block w-100" alt="..." />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <!-- End Owl Carsoul -->
        <div class="row">
          <div class="col-md-8 col-12">
            <div class="desc">
              <h3>Description</h3>
              <p>
                Lorem ipsum dolor sit amet, wisi nemore fastidii at vis, eos
                equidem admodum disputando ea. An duis dolor appellantur mea,
                est id zril nobis appellantur. Ei sea duis senserit qualisque,
                te facilisis appellantur pri. Id aperiri aliquam interesset mel.
                Contentiones vituperatoribus id est, per prima nihil scripta no.
                No semper forensibus adipiscing quo. Amet deleniti lobortis et
                eam. In oporteat pertinacia quo, cu qui antiopam intellegebat,
                ei alii paulo has. In alia eros ornatus pri, graeci accusata
                pericula an vix. His ne homero dignissim, aliquam dolores
                scriptorem vis ut. Sit ad suas adhuc interesset, nec no essent
                iuvaret adipiscing everti.
              </p>
            </div>
            <hr style="margin: 10px" />
            <div class="property-feature">
              <h4>Property features</h4>
              <p>
                Lorem ipsum dolor sit amet, homero debitis temporibus in mei, at
                sit voluptua antiopam hendrerit. Lorem epicuri eu per. Mediocrem
                torquatos deseruisse te eum commodo.
              </p>
            </div>
            <hr />
            <div class="property-details">
              <div class="property-details-title">
                <h4>Property details</h4>

                <div class="row" style="justify-content: space-evenly">
                  <div class="col-md-4 col-12 w-sm-100">
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/noun-three-bedroom-apartment-1018118.svg"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div><span>Size:</span></div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.appartmentArea }}m <sup>2</sup></h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/noun-bed-671207.svg"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div>
                          <span>Bedroom:</span>
                        </div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.noOfBedsInTheRoom }}</h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/noun-bath-2518784.svg"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div><span>Bathroom:</span></div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.noOfBathroom }}</h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/icons8-stairs-50.png"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div>
                          <span>Washer:</span>
                        </div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.hasDishWasher }}</h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/icons8-home-50.png"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div><span>Kitchen:</span></div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.hasKitchen }}</h6></span
                      >
                    </div>
                  </div>
                  <div class="col-md-4 col-12 w-sm-100">
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/icons8-sofa-with-buttons-80.png"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div><span>Microwave :</span></div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.hasMicrowave }}</h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/icons8-height-50.png"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div>
                          <span>hasDishesAndSilverware:</span>
                        </div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.hasDishesAndSilverware }}</h6></span
                      >
                    </div>
                    <div class="inner-property">
                      <div class="desc-property">
                        <div>
                          <span>
                            <img
                              src="../../../../assets/image/HomePage/icons8-construction-50.png"
                              style="width: 15px; height: 15px"
                              alt=""
                          /></span>
                        </div>
                        <div><span>hasAirConditioner:</span></div>
                      </div>
                      <span class="type"
                        ><h6>{{ item.hasAirConditioner }}</h6></span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <!-- End utility -->

            <!-- Videos -->
            <div class="video-section">
              <h4>Video</h4>
              <video width="1300" autoplay loop muted playsInline>
                <source
                  src="../../../../assets/image/HomePage/property-single-video-1.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <!-- End Video -->

            <div class="floor">
              <h4>Floor Plane</h4>
              <p>
                Lorem ipsum dolor sit amet, homero debitis temporibus in mei, at
                sit voluptua antiopam hendrerit. Lorem epicuri eu per. Mediocrem
                torquatos deseruisse te eum commodo.
              </p>
              <div class="img-floor">
                <img
                  src="../../../../assets/image/HomePage/grid-single-floor.jpg"
                  alt=""
                />
              </div>
            </div>
            <br />
            <hr />
            <!-- Star location -->
            <div class="loaction">
              <h4>Location</h4>
              <p>
                <span
                  >{{ item.ownerAddress }}, {{ item.governorate }},
                  {{ item.city }}
                </span>
                <br />
                <span> {{ item.street }} </span>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="profile-seller">
              <div class="seller-nama-img">
                <div class="seller-img">
                  <img
                    src="../../../../assets/image/HomePage/agent1-profile-img-new-50x50.jpg"
                    alt=""
                    width="100"
                    height="100"
                  />
                </div>
                <div class="seller-desc">
                  <span>NEW HOME</span>
                  <h4>{{ item.ownerFullName }}</h4>
                  <h6>
                    {{ item.ownerAddress }}, {{ item.governorate }},
                    {{ item.city }}
                  </h6>
                </div>
              </div>
              <div class="office-phone">
                <div class="row">
                  <div class="office">
                    <div>
                      <span>Office phone:</span>
                    </div>
                    <div>
                      <a>+2224445557</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-phone">
                <div class="row">
                  <div class="office">
                    <div>
                      <span>Mobile phone:</span>
                    </div>
                    <div>
                      <a>+33366699991</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="whatsapp">
                <div class="row">
                  <div class="office">
                    <div>
                      <span>Whatsapp, Viber phone::</span>
                    </div>
                    <div>
                      <a>3336669991</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="email">
                <div class="row">
                  <div class="office">
                    <div>
                      <span>Email:</span>
                    </div>
                    <div>
                      <a>{{ item.ownerEmail }}</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profiles-seller">
                <div class="btn">
                  <button>View my properties</button>
                </div>
              </div>
            </div>
            <!-- Schedule -->
            <div class="schedule-section">
              <div class="schedule-title">
                <h4>Schedule tour</h4>
                <p>
                  Tantas signiferumque eum at, vix an dicant fierent homero
                  dignissim.
                </p>
              </div>
              <div class="message-area">
                <form action="">
                  <input type="text" placeholder="Your name*" />
                  <input type="text" placeholder="Your email*" />
                  <input type="text" placeholder="Your phone" />
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Message"
                  ></textarea>

                  <button type="submit">Make enquiry</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
