<div class="mainwrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="property-name">
          <h2>White Stylish Loft</h2>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="property-price">
          <h5><span>Price:</span> <span>550,000$</span></h5>
        </div>
      </div>
    </div>
    <!-- Img Slider -->
    <div class="row">
      <section id="center" class="center_home">
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../../../assets/image/HomePage/property-grid-img-6.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../../../assets/image/HomePage/property-grid-img-7.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../../../assets/image/HomePage/list-sidebar-img-1-460x300.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <!-- End Owl Carsoul -->
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="desc">
            <h3>Description</h3>
            <p>
              Lorem ipsum dolor sit amet, wisi nemore fastidii at vis, eos
              equidem admodum disputando ea. An duis dolor appellantur mea, est
              id zril nobis appellantur. Ei sea duis senserit qualisque, te
              facilisis appellantur pri. Id aperiri aliquam interesset mel.
              Contentiones vituperatoribus id est, per prima nihil scripta no.
              No semper forensibus adipiscing quo. Amet deleniti lobortis et
              eam. In oporteat pertinacia quo, cu qui antiopam intellegebat, ei
              alii paulo has. In alia eros ornatus pri, graeci accusata pericula
              an vix. His ne homero dignissim, aliquam dolores scriptorem vis
              ut. Sit ad suas adhuc interesset, nec no essent iuvaret adipiscing
              everti.
            </p>
          </div>
          <hr style="margin: 10px" />
          <div class="property-feature">
            <h4>Property features</h4>
            <p>
              Lorem ipsum dolor sit amet, homero debitis temporibus in mei, at
              sit voluptua antiopam hendrerit. Lorem epicuri eu per. Mediocrem
              torquatos deseruisse te eum commodo.
            </p>
          </div>
          <hr />
          <div class="property-details">
            <div class="property-details-title">
              <h4>Property details</h4>

              <div class="row" style="justify-content: space-evenly">
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/noun-three-bedroom-apartment-1018118.svg"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Size:</span></div>
                    </div>
                    <span class="type"
                      ><h6>250m <sup>2</sup></h6></span
                    >
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/noun-bed-671207.svg"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Bedroom:</span>
                      </div>
                    </div>
                    <span class="type"><h6>4</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/noun-bath-2518784.svg"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Bathroom:</span></div>
                    </div>
                    <span class="type"><h6>3</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-stairs-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Floor:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Ground</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-home-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Additional space:</span></div>
                    </div>
                    <span class="type"><h6>Attic</h6></span>
                  </div>
                </div>
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-sofa-with-buttons-80.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Furnishing:</span></div>
                    </div>
                    <span class="type"><h6>Furnished</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-height-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Ceiling Height:</span>
                      </div>
                    </div>
                    <span class="type"><h6>3m</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-construction-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Construction Year:</span></div>
                    </div>
                    <span class="type"><h6>2007</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-paint-roller-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Renovation:</span>
                      </div>
                    </div>
                    <span class="type"><h6>2017</h6></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />

          <!-- End details -->
          <div class="property-details">
            <div class="property-details-title">
              <h4>Property utility</h4>

              <div class="row" style="justify-content: space-evenly">
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-heating-44.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Heating:</span></div>
                    </div>
                    <span class="type"><h6>Natural gas</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-air-conditioner-32.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Air Condition:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-fireplace-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Fireplace:</span></div>
                    </div>
                    <span class="type"><h6>-</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-elevator-64.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Elevator:</span>
                      </div>
                    </div>
                    <span class="type"><h6>-</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-ventilation-48.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Ventilation:</span></div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                </div>
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-intercom-99.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Intercom:</span></div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-window-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Window Type:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Aluminum frame</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-tv-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Cable TV:</span></div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-wifi-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>WiFi:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End utility -->
          <div class="property-details">
            <div class="property-details-title">
              <h4>Outdoor feature</h4>

              <div class="row" style="justify-content: space-evenly">
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-garage-100.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Garage:</span></div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-disabled-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Disabled Access:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Ramp</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-fence-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Fence:</span></div>
                    </div>
                    <span class="type"><h6>Wood fence</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-pet-commands-summon-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Pet Friendly:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                </div>
                <div class="col-md-4 col-12 w-sm-100">
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-garden-64.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Garden:</span></div>
                    </div>
                    <span class="type"><h6>60m2</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-swimming-pool-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Swimming Pool:</span></div>
                    </div>
                    <span class="type"><h6>3x5x1.5m</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-security-camera-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div><span>Security:</span></div>
                    </div>
                    <span class="type"><h6>60m2</h6></span>
                  </div>
                  <div class="inner-property">
                    <div class="desc-property">
                      <div>
                        <span>
                          <img
                            src="../../../../assets/image/HomePage/icons8-barbeque-50.png"
                            style="width: 15px; height: 15px"
                            alt=""
                        /></span>
                      </div>
                      <div>
                        <span>Barbeque,grill:</span>
                      </div>
                    </div>
                    <span class="type"><h6>Yes</h6></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Videos -->
          <div class="video-section">
            <h4>Video</h4>
            <video width="1300" autoplay loop muted playsInline>
              <source
                src="../../../../assets/image/HomePage/property-single-video-1.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <!-- End Video -->

          <div class="floor">
            <h4>Floor Plane</h4>
            <p>
              Lorem ipsum dolor sit amet, homero debitis temporibus in mei, at
              sit voluptua antiopam hendrerit. Lorem epicuri eu per. Mediocrem
              torquatos deseruisse te eum commodo.
            </p>
            <div class="img-floor">
              <img
                src="../../../../assets/image/HomePage/grid-single-floor.jpg"
                alt=""
              />
            </div>
          </div>
          <br />
          <hr />
          <!-- Star location -->
          <div class="loaction">
            <h4>Location</h4>
            <p>
              <span>65-28 Utopia Pkwy, Flushing, NY 11365, USA </span>
              <br />
              <span> Queens New York </span>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="profile-seller">
            <div class="seller-nama-img">
              <div class="seller-img">
                <img
                  src="../../../../assets/image/HomePage/agent1-profile-img-new-50x50.jpg"
                  alt=""
                  width="100"
                  height="100"
                />
              </div>
              <div class="seller-desc">
                <span>NEW HOME</span>
                <h4>Steve Parker</h4>
                <h6>560 3rd Ave, New York, NY 10016, USA</h6>
              </div>
            </div>
            <div class="office-phone">
              <div class="row">
                <div class="office">
                  <div>
                    <span>Office phone:</span>
                  </div>
                  <div>
                    <a>+2224445557</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-phone">
              <div class="row">
                <div class="office">
                  <div>
                    <span>Mobile phone:</span>
                  </div>
                  <div>
                    <a>+33366699991</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="whatsapp">
              <div class="row">
                <div class="office">
                  <div>
                    <span>Whatsapp, Viber phone::</span>
                  </div>
                  <div>
                    <a>3336669991</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="email">
              <div class="row">
                <div class="office">
                  <div>
                    <span>Email:</span>
                  </div>
                  <div>
                    <a>steveparker@example.com</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="profiles-seller">
              <div class="btn">
                <button>View my properties</button>
              </div>
            </div>
          </div>
          <!-- Schedule -->
          <div class="schedule-section">
            <div class="schedule-title">
              <h4>Schedule tour</h4>
              <p>
                Tantas signiferumque eum at, vix an dicant fierent homero
                dignissim.
              </p>
            </div>
            <div class="message-area">
              <form action="">
                <input type="text" placeholder="Your name*" />
                <input type="text" placeholder="Your email*" />
                <input type="text" placeholder="Your phone" />
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Message"
                ></textarea>

                <button type="submit">Make enquiry</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
