<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <span>Apartment</span>
          <div class="type">
            <b>$ 50</b>
            /month* full payment: $420
          </div>
          
            <p>-Fully furnished apartments with a kitchen, bathroom, living area, and bedroom(s).</p>
            <p>-Complete privacy and independence in your own space.</p>
            <p>-Flexibility to customize and decorate the apartment to your liking.</p>
            <!-- <p>Ideal for individuals or families seeking a self-contained living environment.</p> -->

            
          
          <div class="buttons">
            <button class="btn btn-warning" (click)="onButtonClick()">Get Started</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <span>Room</span>

          <div class="type">
            <b>$ 35</b>
            /month* full payment: $ 150
          </div>
         
            <p>- Spacious and well-appointed rooms with shared common areas like kitchen.</p>
            <p>-Opportunity to interact and socialize with other tenants,</p>
            <p>-Access to shared amenities and facilities, such as laundry rooms or recreational areas.</p>
            
          
          <div class="buttons">
            <button class="btn btn-warning" (click)="onButtonClick()" >Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card" >
          
          <span>Bed</span>
          <div class="type">
            <b>$ 25</b>
            /month* full payment: $420
          </div>
          
            <p>-Comfortable beds within shared rooms, offering both privacy and affordability..</p>
            <p>-Separate sleeping spaces within shared rooms ensure a good night's sleep.</p>
            <p>-Access to shared facilities like kitchens, bathrooms, and common areas.</p>
         
          <div class="buttons">
            <button class="btn btn-warning" (click)="onButtonClick()">Get Started</button>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>
