<div class="property-section">
  <div class="container">
    <div class="heading-property row justify-content-md-center">
      <h2 class="heading-title col-sm-12">
        Our choice of
        <br />
        popular
        <span>real</span>
        <span>estate</span>
      </h2>
    </div>

    <div class="inner-container">
      <ng-container *ngFor="let item of properties; let i = index">
        <div class="card row col-4" style="width: 24rem">
          <div class="type-compare-wish">
            <span class="info">{{ item.propertyType }}</span>
          </div>
          <div class="wish-compare">
            <section class="inner-compare-wish offset-10 col-2">
              <span class="star col-6">
                <i class="fa-regular fa-star"></i>
              </span>
              <span class="col-6">
                <i class="fa-regular fa-plus"></i>
              </span>
            </section>
          </div>
          <div class="owner-info">
            <section class="inner-info-owner">
              <img [src]="item.ownerPhoto" alt="" />
              <div class="owner-name">
                <h6>{{ item.ownerFullName }}</h6>
              </div>
            </section>
          </div>
          <img
            class="card-img-top"
            [src]="item.mainPhotoUrl"
            alt="Card image cap"
          />

          <div class="card-body">
            <h5 class="card-title">
              <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
              <span class="title">{{ item.title }}</span>
              <span>-</span>
              <span class="title">{{ item.streetDetails }}, {{ item.city }}, {{ item.governorate }}</span>
            </h5>
            <div class="link-name">
              <div class="left">
                 {{ item.noOfRooms }} {{ item.noOfRooms > 1 ? 'Rooms' : 'Room' }}
              </div>
            </div>
            <p class="card-text">{{ item.title }}</p>
            <hr style="color: #555555" />
            <div class="property-info">
              <div class="property-price">
                <span>{{ item.propertyPrice | currency }}</span>
              </div>
              
              <div class="property-details">
                <span>
                  <span>
                    <img src="../../../../assets/image/HomePage/noun-three-bedroom-apartment-1018118.svg" 
                    style="width: 22px; height: 25px" />
                  </span>
                  {{ item.appartmentArea }} m<sup>2</sup>
                </span>
                <span>
                  <span>
                    <img src="../../../../../assets/image/HomePage/noun-bed-671207.svg"
                    style="width: 25px; height: 25px" alt="" />
                  </span>
                  {{ item.noOfRooms }} {{ item.noOfRooms > 1 ? 'Bedrooms' : 'Bedroom' }}
                </span>
                <span>
                  <span>
                    <img src="../../../../../assets/image/HomePage/noun-bath-2518784.svg" alt="" style="width: 25px; height: 25px" />
                  </span>
                  {{ item.noOfBathroom }} 
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>